<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> </a> <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> <li><a href="#" class="nav-link px-2 text-secondary"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Lar</font></font></a></li> <li><a href="#" class="nav-link px-2 text-white"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Características</font></font></a></li> <li><a href="#" class="nav-link px-2 text-white"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Preços</font></font></a></li> <li><a href="#" class="nav-link px-2 text-white"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Perguntas frequentes</font></font></a></li> <li><a href="#" class="nav-link px-2 text-white"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Sobre</font></font></a></li> </ul> <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Procurar..." aria-label="Procurar"> </form> <div class="text-end"> <button type="button" class="btn btn-outline-light me-2"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Conecte-se</font></font></button> <button type="button" class="btn btn-warning"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Inscrever-se</font></font></button> </div> </div>
    <button onclick="window.location='/users/main/<%= user.id %>'">voltar</button>
    <h1>Baralhos do Usuário <%= user.username %></h1>

    <div class="deck-container" id="deck-container">

        <div class="deck" onclick="window.location='/decks/newdeck/<%= user.id %>'">
            <img src="/images/decks/deck-novo.png" alt="Criar baralho" class="deck-img">
            <div class="deck-name">Criar deck</div>
        </div>

        <% baralhos.forEach(baralho => { %>
            <% if(user.selectedDeck == baralho.id_deck){ %>
                <div class="deck" onclick="openMenu(event, '<%= baralho.id_deck %>', '<%= baralho.deck.length %>')">
                    <img src="/images/decks/deck-<%= baralho.color %>.png" class="deck-img">
                    <div class="deck-name">
                        <%= baralho.name %>
                    </div>
                    <img src="/images/blue-check.png" style="position: relative; top: -200px; left: 50px; height: 50px; width: 50px;">
                </div>
            <% }else if(baralho.deck.length >= 20){ %>
                <div class="deck" onclick="openMenu(event, '<%= baralho.id_deck %>', '<%= baralho.deck.length %>')">
                    <img src="/images/decks/deck-<%= baralho.color %>.png" class="deck-img" >
                    <div class="deck-name">
                        <%= baralho.name %>
                    </div>
                </div>
            <% }else{ %>
                <div class="deck" onclick="openMenu(event, '<%= baralho.id_deck %>', '<%= baralho.deck.length %>')">
                    <img src="/images/decks/deck-<%= baralho.color %>.png" class="deck-img" >
                    <div class="deck-name">
                        <%= baralho.name %>
                    </div>
                    <div style="position: relative; top: -100px; color: red; font-size: 30px;">deck invalido</div>
                </div>
            <% } %>
        <% }) %>

    </div>
    <div id="deck-menu" class="menu-deck">
        <button id="select-btn">Selecionar</button>
        <button id="edit-btn">Editar</button>
        <button id="delete-btn">Deletar</button>
    </div>
    
</body>
<script>

    document.addEventListener("click", function(e) {
        const menu = document.getElementById("deck-menu");
        const deck = document.getElementById("deck-container");
        if (!menu.contains(e.target) && !deck.contains(e.target)) {
            menu.style.display = "none";
        }
     }); 

     function openMenu(event, deckId, length) {
        selectedDeckId = deckId;
        selectedDeckLength = length;
        const menu = document.getElementById("deck-menu");

        // posiciona o menu onde o usuário clicou
        menu.style.left = event.pageX + "px";
        menu.style.top = event.pageY + "px";
        menu.style.display = "flex";

        document.getElementById("select-btn").onclick = () => {
            if(selectedDeckLength >= 20){
                fetch(`/users/update/<%= user.id %>`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username: '<%= user.username %>',  password: '<%= user.password %>', selectedDeck: deckId})
                })
                window.location.href = '/decks/user/<%= user.id %>';
            } else{
                alert('deck deve conter pelo menos 20 cartas');
            }
        };
    
        document.getElementById("edit-btn").onclick = () => {
            window.location = `/decks/id/${deckId}/user/<%= user.id %>`;
        };

        // botão deletar
        document.getElementById("delete-btn").onclick = () => {
            if (confirm("Tem certeza que deseja deletar este deck?")) {
                fetch(`/decks/delete/${deckId}/user/<%= user.id %>`);
                window.location.href = '/decks/user/<%= user.id %>';
            }
        };
    }   

</script>
</html>